.event {
  position: relative;
  padding-top: 40px;
  background-color: #eee;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.event h3 {
  font-size: 25px;
}

.event p {
  margin: 10px 0;
}

.image {
  margin-bottom: 20px;
}

.image img {
  border-radius: 5px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.delete {
  margin-left: 20px;
  color: red;
}